ROPark_II/ROPark_II/Web References/localhost/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getAllCites">
        <s:complexType />
      </s:element>
      <s:element name="getAllCitesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllCitesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getAllRegions">
        <s:complexType />
      </s:element>
      <s:element name="getAllRegionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllRegionsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllParkPlaces">
        <s:complexType />
      </s:element>
      <s:element name="getAllParkPlacesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllParkPlacesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllUsers">
        <s:complexType />
      </s:element>
      <s:element name="getAllUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllUsersResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCityById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCityByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCityByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRegionByCityId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCity" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRegionByCityIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getRegionByCityIdResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkUserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="checkUserNameResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="checkUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUserResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkParkingPlace">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parkingPlaceName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkParkingPlaceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="checkParkingPlaceResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneNr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="checkCityDB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkCityDBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="checkCityDBResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCityId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCityIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getCityIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRegionId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRegionIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getRegionIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteParkPlace">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteParkPlaceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteParkPlaceResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteRegion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteRegionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteRegionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteCityResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRegionsForCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cityId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRegionsForCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getRegionsForCityResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getParkPlacesForRegion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="regionId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getParkPlacesForRegionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getParkPlacesForRegionResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changeCityName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oldName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changeCityNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="changeCityNameResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changeRegionName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oldName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changeRegionNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="changeRegionNameResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changeParkPlace">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oldName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="newSpaces" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changeParkPlaceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="changeParkPlaceResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNrSpaces">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNrSpacesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getNrSpacesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneNr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sendEmailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getAllCitesSoapIn">
    <wsdl:part name="parameters" element="tns:getAllCites" />
  </wsdl:message>
  <wsdl:message name="getAllCitesSoapOut">
    <wsdl:part name="parameters" element="tns:getAllCitesResponse" />
  </wsdl:message>
  <wsdl:message name="getAllRegionsSoapIn">
    <wsdl:part name="parameters" element="tns:getAllRegions" />
  </wsdl:message>
  <wsdl:message name="getAllRegionsSoapOut">
    <wsdl:part name="parameters" element="tns:getAllRegionsResponse" />
  </wsdl:message>
  <wsdl:message name="getAllParkPlacesSoapIn">
    <wsdl:part name="parameters" element="tns:getAllParkPlaces" />
  </wsdl:message>
  <wsdl:message name="getAllParkPlacesSoapOut">
    <wsdl:part name="parameters" element="tns:getAllParkPlacesResponse" />
  </wsdl:message>
  <wsdl:message name="getAllUsersSoapIn">
    <wsdl:part name="parameters" element="tns:getAllUsers" />
  </wsdl:message>
  <wsdl:message name="getAllUsersSoapOut">
    <wsdl:part name="parameters" element="tns:getAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="getCityByIdSoapIn">
    <wsdl:part name="parameters" element="tns:getCityById" />
  </wsdl:message>
  <wsdl:message name="getCityByIdSoapOut">
    <wsdl:part name="parameters" element="tns:getCityByIdResponse" />
  </wsdl:message>
  <wsdl:message name="getRegionByCityIdSoapIn">
    <wsdl:part name="parameters" element="tns:getRegionByCityId" />
  </wsdl:message>
  <wsdl:message name="getRegionByCityIdSoapOut">
    <wsdl:part name="parameters" element="tns:getRegionByCityIdResponse" />
  </wsdl:message>
  <wsdl:message name="checkUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:checkUserName" />
  </wsdl:message>
  <wsdl:message name="checkUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:checkUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="checkUserSoapIn">
    <wsdl:part name="parameters" element="tns:checkUser" />
  </wsdl:message>
  <wsdl:message name="checkUserSoapOut">
    <wsdl:part name="parameters" element="tns:checkUserResponse" />
  </wsdl:message>
  <wsdl:message name="getUserSoapIn">
    <wsdl:part name="parameters" element="tns:getUser" />
  </wsdl:message>
  <wsdl:message name="getUserSoapOut">
    <wsdl:part name="parameters" element="tns:getUserResponse" />
  </wsdl:message>
  <wsdl:message name="checkParkingPlaceSoapIn">
    <wsdl:part name="parameters" element="tns:checkParkingPlace" />
  </wsdl:message>
  <wsdl:message name="checkParkingPlaceSoapOut">
    <wsdl:part name="parameters" element="tns:checkParkingPlaceResponse" />
  </wsdl:message>
  <wsdl:message name="addUserSoapIn">
    <wsdl:part name="parameters" element="tns:addUser" />
  </wsdl:message>
  <wsdl:message name="addUserSoapOut">
    <wsdl:part name="parameters" element="tns:addUserResponse" />
  </wsdl:message>
  <wsdl:message name="checkCityDBSoapIn">
    <wsdl:part name="parameters" element="tns:checkCityDB" />
  </wsdl:message>
  <wsdl:message name="checkCityDBSoapOut">
    <wsdl:part name="parameters" element="tns:checkCityDBResponse" />
  </wsdl:message>
  <wsdl:message name="getCityIdSoapIn">
    <wsdl:part name="parameters" element="tns:getCityId" />
  </wsdl:message>
  <wsdl:message name="getCityIdSoapOut">
    <wsdl:part name="parameters" element="tns:getCityIdResponse" />
  </wsdl:message>
  <wsdl:message name="getRegionIdSoapIn">
    <wsdl:part name="parameters" element="tns:getRegionId" />
  </wsdl:message>
  <wsdl:message name="getRegionIdSoapOut">
    <wsdl:part name="parameters" element="tns:getRegionIdResponse" />
  </wsdl:message>
  <wsdl:message name="deleteParkPlaceSoapIn">
    <wsdl:part name="parameters" element="tns:deleteParkPlace" />
  </wsdl:message>
  <wsdl:message name="deleteParkPlaceSoapOut">
    <wsdl:part name="parameters" element="tns:deleteParkPlaceResponse" />
  </wsdl:message>
  <wsdl:message name="deleteRegionSoapIn">
    <wsdl:part name="parameters" element="tns:deleteRegion" />
  </wsdl:message>
  <wsdl:message name="deleteRegionSoapOut">
    <wsdl:part name="parameters" element="tns:deleteRegionResponse" />
  </wsdl:message>
  <wsdl:message name="deleteCitySoapIn">
    <wsdl:part name="parameters" element="tns:deleteCity" />
  </wsdl:message>
  <wsdl:message name="deleteCitySoapOut">
    <wsdl:part name="parameters" element="tns:deleteCityResponse" />
  </wsdl:message>
  <wsdl:message name="getRegionsForCitySoapIn">
    <wsdl:part name="parameters" element="tns:getRegionsForCity" />
  </wsdl:message>
  <wsdl:message name="getRegionsForCitySoapOut">
    <wsdl:part name="parameters" element="tns:getRegionsForCityResponse" />
  </wsdl:message>
  <wsdl:message name="getParkPlacesForRegionSoapIn">
    <wsdl:part name="parameters" element="tns:getParkPlacesForRegion" />
  </wsdl:message>
  <wsdl:message name="getParkPlacesForRegionSoapOut">
    <wsdl:part name="parameters" element="tns:getParkPlacesForRegionResponse" />
  </wsdl:message>
  <wsdl:message name="changeCityNameSoapIn">
    <wsdl:part name="parameters" element="tns:changeCityName" />
  </wsdl:message>
  <wsdl:message name="changeCityNameSoapOut">
    <wsdl:part name="parameters" element="tns:changeCityNameResponse" />
  </wsdl:message>
  <wsdl:message name="changeRegionNameSoapIn">
    <wsdl:part name="parameters" element="tns:changeRegionName" />
  </wsdl:message>
  <wsdl:message name="changeRegionNameSoapOut">
    <wsdl:part name="parameters" element="tns:changeRegionNameResponse" />
  </wsdl:message>
  <wsdl:message name="changeParkPlaceSoapIn">
    <wsdl:part name="parameters" element="tns:changeParkPlace" />
  </wsdl:message>
  <wsdl:message name="changeParkPlaceSoapOut">
    <wsdl:part name="parameters" element="tns:changeParkPlaceResponse" />
  </wsdl:message>
  <wsdl:message name="getNrSpacesSoapIn">
    <wsdl:part name="parameters" element="tns:getNrSpaces" />
  </wsdl:message>
  <wsdl:message name="getNrSpacesSoapOut">
    <wsdl:part name="parameters" element="tns:getNrSpacesResponse" />
  </wsdl:message>
  <wsdl:message name="sendEmailSoapIn">
    <wsdl:part name="parameters" element="tns:sendEmail" />
  </wsdl:message>
  <wsdl:message name="sendEmailSoapOut">
    <wsdl:part name="parameters" element="tns:sendEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="getAllCites">
      <wsdl:input message="tns:getAllCitesSoapIn" />
      <wsdl:output message="tns:getAllCitesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllRegions">
      <wsdl:input message="tns:getAllRegionsSoapIn" />
      <wsdl:output message="tns:getAllRegionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllParkPlaces">
      <wsdl:input message="tns:getAllParkPlacesSoapIn" />
      <wsdl:output message="tns:getAllParkPlacesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <wsdl:input message="tns:getAllUsersSoapIn" />
      <wsdl:output message="tns:getAllUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCityById">
      <wsdl:input message="tns:getCityByIdSoapIn" />
      <wsdl:output message="tns:getCityByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getRegionByCityId">
      <wsdl:input message="tns:getRegionByCityIdSoapIn" />
      <wsdl:output message="tns:getRegionByCityIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkUserName">
      <wsdl:input message="tns:checkUserNameSoapIn" />
      <wsdl:output message="tns:checkUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkUser">
      <wsdl:input message="tns:checkUserSoapIn" />
      <wsdl:output message="tns:checkUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:input message="tns:getUserSoapIn" />
      <wsdl:output message="tns:getUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkParkingPlace">
      <wsdl:input message="tns:checkParkingPlaceSoapIn" />
      <wsdl:output message="tns:checkParkingPlaceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input message="tns:addUserSoapIn" />
      <wsdl:output message="tns:addUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkCityDB">
      <wsdl:input message="tns:checkCityDBSoapIn" />
      <wsdl:output message="tns:checkCityDBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCityId">
      <wsdl:input message="tns:getCityIdSoapIn" />
      <wsdl:output message="tns:getCityIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getRegionId">
      <wsdl:input message="tns:getRegionIdSoapIn" />
      <wsdl:output message="tns:getRegionIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteParkPlace">
      <wsdl:input message="tns:deleteParkPlaceSoapIn" />
      <wsdl:output message="tns:deleteParkPlaceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteRegion">
      <wsdl:input message="tns:deleteRegionSoapIn" />
      <wsdl:output message="tns:deleteRegionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteCity">
      <wsdl:input message="tns:deleteCitySoapIn" />
      <wsdl:output message="tns:deleteCitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getRegionsForCity">
      <wsdl:input message="tns:getRegionsForCitySoapIn" />
      <wsdl:output message="tns:getRegionsForCitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getParkPlacesForRegion">
      <wsdl:input message="tns:getParkPlacesForRegionSoapIn" />
      <wsdl:output message="tns:getParkPlacesForRegionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="changeCityName">
      <wsdl:input message="tns:changeCityNameSoapIn" />
      <wsdl:output message="tns:changeCityNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="changeRegionName">
      <wsdl:input message="tns:changeRegionNameSoapIn" />
      <wsdl:output message="tns:changeRegionNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="changeParkPlace">
      <wsdl:input message="tns:changeParkPlaceSoapIn" />
      <wsdl:output message="tns:changeParkPlaceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNrSpaces">
      <wsdl:input message="tns:getNrSpacesSoapIn" />
      <wsdl:output message="tns:getNrSpacesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendEmail">
      <wsdl:input message="tns:sendEmailSoapIn" />
      <wsdl:output message="tns:sendEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllCites">
      <soap:operation soapAction="http://tempuri.org/getAllCites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllRegions">
      <soap:operation soapAction="http://tempuri.org/getAllRegions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllParkPlaces">
      <soap:operation soapAction="http://tempuri.org/getAllParkPlaces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <soap:operation soapAction="http://tempuri.org/getAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCityById">
      <soap:operation soapAction="http://tempuri.org/getCityById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRegionByCityId">
      <soap:operation soapAction="http://tempuri.org/getRegionByCityId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkUserName">
      <soap:operation soapAction="http://tempuri.org/checkUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkUser">
      <soap:operation soapAction="http://tempuri.org/checkUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="http://tempuri.org/getUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkParkingPlace">
      <soap:operation soapAction="http://tempuri.org/checkParkingPlace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="http://tempuri.org/addUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkCityDB">
      <soap:operation soapAction="http://tempuri.org/checkCityDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCityId">
      <soap:operation soapAction="http://tempuri.org/getCityId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRegionId">
      <soap:operation soapAction="http://tempuri.org/getRegionId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteParkPlace">
      <soap:operation soapAction="http://tempuri.org/deleteParkPlace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRegion">
      <soap:operation soapAction="http://tempuri.org/deleteRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCity">
      <soap:operation soapAction="http://tempuri.org/deleteCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRegionsForCity">
      <soap:operation soapAction="http://tempuri.org/getRegionsForCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParkPlacesForRegion">
      <soap:operation soapAction="http://tempuri.org/getParkPlacesForRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeCityName">
      <soap:operation soapAction="http://tempuri.org/changeCityName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeRegionName">
      <soap:operation soapAction="http://tempuri.org/changeRegionName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeParkPlace">
      <soap:operation soapAction="http://tempuri.org/changeParkPlace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNrSpaces">
      <soap:operation soapAction="http://tempuri.org/getNrSpaces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendEmail">
      <soap:operation soapAction="http://tempuri.org/sendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllCites">
      <soap12:operation soapAction="http://tempuri.org/getAllCites" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllRegions">
      <soap12:operation soapAction="http://tempuri.org/getAllRegions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllParkPlaces">
      <soap12:operation soapAction="http://tempuri.org/getAllParkPlaces" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <soap12:operation soapAction="http://tempuri.org/getAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCityById">
      <soap12:operation soapAction="http://tempuri.org/getCityById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRegionByCityId">
      <soap12:operation soapAction="http://tempuri.org/getRegionByCityId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkUserName">
      <soap12:operation soapAction="http://tempuri.org/checkUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkUser">
      <soap12:operation soapAction="http://tempuri.org/checkUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap12:operation soapAction="http://tempuri.org/getUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkParkingPlace">
      <soap12:operation soapAction="http://tempuri.org/checkParkingPlace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap12:operation soapAction="http://tempuri.org/addUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkCityDB">
      <soap12:operation soapAction="http://tempuri.org/checkCityDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCityId">
      <soap12:operation soapAction="http://tempuri.org/getCityId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRegionId">
      <soap12:operation soapAction="http://tempuri.org/getRegionId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteParkPlace">
      <soap12:operation soapAction="http://tempuri.org/deleteParkPlace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRegion">
      <soap12:operation soapAction="http://tempuri.org/deleteRegion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCity">
      <soap12:operation soapAction="http://tempuri.org/deleteCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRegionsForCity">
      <soap12:operation soapAction="http://tempuri.org/getRegionsForCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParkPlacesForRegion">
      <soap12:operation soapAction="http://tempuri.org/getParkPlacesForRegion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeCityName">
      <soap12:operation soapAction="http://tempuri.org/changeCityName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeRegionName">
      <soap12:operation soapAction="http://tempuri.org/changeRegionName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeParkPlace">
      <soap12:operation soapAction="http://tempuri.org/changeParkPlace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNrSpaces">
      <soap12:operation soapAction="http://tempuri.org/getNrSpaces" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendEmail">
      <soap12:operation soapAction="http://tempuri.org/sendEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44360/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44360/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>